.user-button {
  width: 350px;
  height: 65px;
  background-color: rgb(6, 198, 85);
  color: white;
  border-style: none;
  border-radius: 3px;
  font-size: 20px;
  transition: border-radius 1s ease-in-out;
  cursor: pointer;
}

.join-button {
  background-color: black;
}
